<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Ontourcloud.Venue – Minsk Arena</title> <!-- Вместо Минск-Арены - динамическое название -->
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/venuedev.css">
  </head>
  <body>
    <header>
      <a href="http://ontourcloud.com"><img src="images/logo_bottom.svg"></a>
      <div class="title">Ontourcloud.Venue – {{ShortTitle}}</div> <!-- Вместо Минск-Арены - динамическое название -->
      </header>
    <div id="map"></div>
    <script>
      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15,
          center: {lat: 51.506352, lng: -0.122437},
          disableDefaultUI: true
        });
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB8Sz7i19L1YPqtJ6_ArT2amfqwsFYdfSQ&signed_in=true&callback=initMap" async defer></script>
    <div id="container">
      <ul>
        <li><a href="#">Dashboard</a></li>
        <li><a href="#" class="li-selected">Basic information</a></li>
        <li><a href="#">Technical specifications</a></li>
        <li><a href="#">Honorarium policy</a></li>
        <li><a href="#">The distribution of powers among the organizers</a></li>
        <li><a href="#">Calendar</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
      <div id="content">
        <div id="left-content">
            <form action="{{path('updateInfo')}}" method="POST">
          <p style="padding-top: 0;">Short Title:</p><input type="text" name="short_title" value="{{ShortTitle}}" />
          <p>Full Title:</p><input type="text" name="full_title" value="{{FullTitle}}" />
          <p>Local Title:</p><input type="text" name="local_title" value="{{LocalTitle}}"/>
          <p>Short Description:</p><input type="text" name="short_desc" value="{{ShortDesc}}" />
          <p>Full Description:</p><textarea type="text" name="full_desc">{{FullDesc}}</textarea>
          <p>Local Description:</p><textarea name="local_desc" type="text">{{LocalDesc}}</textarea>
          <p>Capacity:</p><input name="capacity" type="number" value="{{Capacity}}" />
          <p>Max Capacity:</p><input name="max_capacity" type="number" value="{{MaxCapacity}}" />
        </div>
        <div id="right-content">
          <p style="padding-top: 0;">Country:</p><input name="country" type="text" value="{{Country}}" />
          <p>City:</p><input name="city" type="text" value="{{City}}" />
          <p>Address:</p><input name="adress" type="text" value="{{Adress}}" />
          <p>Post Code:</p>  <input name="postcode" type="number" value="{{PostCode}}" />
          <p>Latitude / Longitude:</p>
          <input name="latitude" type="number" value="{{Latitude}}"  style="width: calc(100% / 2 - 22.5px); float: left"/>
          <input name="longtitude" type="number" value="{{Longtitude}}"  style="width: calc(100% / 2 - 22.5px);"/>
          <p>Contacts:</p><input name="contacts" type="text" value="{{Contacts}}" />
          <p>Main Type:</p><input name="maintype" type="text" value="{{MainType}}" />
          <p>Additional Type:</p><input name="additional_type" type="text" value="{{AdditionalType}}" />
          <p>External Resources:</p><input name="external_resources" type="text" value="{{ExternalResources}}" />
          <p>Ticket Services:</p><input name="ticket_services">
        </div>
      </div>
      <button type="submit">SAVE</button>
        </form>
    </div>
    <footer>© 2016 Touring App, LLC</footer>
  </body>
</html>